kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: jit-ecr-role-binding
  namespace: {{ .Values.namespace }}
subjects:
- kind: ServiceAccount
  name: sa-jit-ecr
  namespace: {{ .Values.namespace }}
  apiGroup: ""
roleRef:
  kind: Role
  name: role-access-to-jit-ecr-secret
  apiGroup: ""
