name: Pre-Commit checks

on:
  push:
    branches:
      - '**'
      - '!main'
jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: 3.8
    - uses: pre-commit/action@v3.0.0
